*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
	justify-content: center;
	align-items: center;
    background: linear-gradient(rgba(63, 105, 145, 0.7),rgba(0, 0, 50, 0.7)), url(../img/background.jpg);
    background-size: cover;
	overflow: hidden;
}

.card-group{
    width: 50%;
    transform: translate(5%,5%);
}